.container {
  border: 1px solid var(--gray);
  border-radius: 10px;
  margin-top: 20px;
  .title {
    position: relative;
    padding: 24px 20px 8px;
    font-size: 19px;
    color: var(--black);
    font-weight: 560;
  }

  .content {
    font-size: 16px;
    color: var(--darkGray);
    padding: 0px 20px 4px;
  }
}
.priceContent {
  @extend .container;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  .title {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .price {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.active {
  border: 1px solid var(--blue);
}
.desactive {
  border: 1px solid var(--gray);
}
