@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularStdBook.woff') format('woff');
}

:root {
  --gray: #eeeff2;
  --darkGray: #6b7280;
  --black: #000;
  --red: #cb253c;
  --blue: #1e96d4;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Circular;
  font-size: 16px;
  .wrapper {
    margin: 20px;
    @media (min-width: 760px) {
      margin: 15px 110px;
    }
  }
}
