@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularStdBook.woff') format('woff');
}

:root {
  --gray: #eeeff2;
  --darkGray: #6b7280;
  --black: #000;
  --red: #cb253c;
  --blue: #1e96d4;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Circular, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;

  .wrapper {
    margin: 20px;

    @media (min-width: 760px) {
      margin: 15px 110px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }

    @media (min-width: 1260px) {
      margin: 15px 110px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 30px;
    }
  }
}
